<div class="container-fluid WheatherApp">
  <div class="OpenWheather">
  <!-- header start -->
    <div class="header">
      <div class="row align-items-center">
        <div class="col-sm-6 logo">WHEATHER</div>
        <div class="col-sm-6 ">
          <form class="searchBox">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]= 'searchValue' name="searchValue" placeholder="Search" required>
              <button class="btn searchBtn" type="submit" (click)='onSearch()'> <img src="assets/search.png"/> </button>
              <div class="error" *ngIf='emptyField && !searchValue'>
                  Please enter Keyword.
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- header end -->
  <!-- content start -->
    <div class="row typeSection" *ngIf='cardsArray.length == 0'>
      <div class="col-sm-12">
        <div class="searchBoxCont">
          <h1 class="typeSearch">Type the city name <span><img src="assets/finger.png"/></span> to search</h1>
          <p>Wheather is the state of the atmosphere, describing for example the degree to <br>
            which it is hot or hold, wet or dry, carm or stormy,clear or cloudy</p>
        </div>
      </div>
    </div>
    <!-- content start -->
    <!-- Wheather details popup start -->
    <div class='WheatherPop' *ngIf = 'wheatherPopShow'>
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-header">
            <button type="button" class="close" (click) = 'popClose();'><img src="assets/close.png"/></button>
          </div>
          <div class="modal-body">
            <div class="cityText">Wheather in {{wheatherData.name}}, {{wheatherData.sys.country}}</div>
            <div class="cityTemp"><img src='https://openweathermap.org/img/wn/{{wheatherData.weather[0].icon}}@2x.png'/>{{wheatherData.main.temp}} &#176;C</div>
            <div class="cityStorm">{{wheatherData.weather[0].main}}</div>
            <ul class="wheatherList">
              <li><span>Wind</span><span><strong>{{wheatherData.wind.speed}} m/s, {{wheatherData.wind.deg}}&#176;C</strong></span></li>
              <li><span>Humidity</span><span><strong>{{wheatherData.main.humidity}}% </strong></span></li>
              <li><span>Pressure</span><span><strong>{{wheatherData.main.pressure}} hpa </strong></span></li>
              <li><span>Sunrise</span><span><strong>{{wheatherData.sys.sunrise * 1000 | date: 'HH:mm' : 'wheatherData.timezone' }} </strong> </span></li>
              <li><span>Sunset</span><span><strong>{{wheatherData.sys.sunset * 1000 | date : 'HH:mm' : 'wheatherData.timezone'  }} </strong></span></li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)='addCard();' *ngIf='addBtnShow'>Add</button>
            <button type="button" class="btn btn-danger" (click)='removeCard();'  *ngIf='removeBtnShow'>Remove</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Wheather details popup end -->
    <!-- Error popup start -->
    <div class='WheatherPop errorPop' *ngIf = 'WheatherPopError'>
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content"> 
            <div class="modal-body">
              <img src="assets/alert.png"/>
              <div class="errorText">Couldn't find "{{searchValue}}". <br> Please try another keyword</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  (click) = 'popClose();'>OKay</button>
            </div>
          </div>
        </div>
      </div>
       <!-- Error popup end -->
      <!-- Loader start -->
      <div class='WheatherPop' *ngIf='loading'>
        <div class="loader"> <div class="spinner-border"></div></div>
      </div>
      <!-- Loader end -->
      <!-- wheather details card section start -->
      <div class="row cardWrap">
        <div class="col-sm-12">
          <div class="cardSec">
            <div class="card" *ngFor='let cards of cardsArray; let i = index' (click)='openCard(i);'>
                <div class="cityText">Wheather in {{cards.name}}, {{cards.sys.country}}</div>
                <div class="cityTemp"><img src='https://openweathermap.org/img/wn/{{cards.weather[0].icon}}@2x.png'/>{{cards.main.temp}} &#8451;</div>
                <div class="cityStorm">{{cards.weather[0].main}}</div>
                <div class="cardDate">{{wheatherData.dt * 1000 | customDateFormat }}</div>
            </div>
       
          </div>
        </div>
      </div>
      <!-- wheather details card section end -->
    </div>  
  </div>
  